<section data-ng-controller="HomeController">
    <div class="page-header">
        <div class="pull-right">
            <button ng-click="download('png')" class="btn btn-sm btn-success">导出 PNG</button>
            <button ng-click="download('svg')" class="btn btn-sm btn-success">导出 SVG</button>
        </div>
        <h1>进路图（{{ today | date:'yyyy-MM-dd HH:mm' }}）<small class="text-muted"><code class="text-danger">红色</code>表示客车，<code class="text-inverse">黑色</code>表示货车</small></h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p ng-show="!canDraw" class="alert alert-info">到达、出发方向、股道或者车次数据不完整，请补充数据之后来看图</p>
            <svg id="chart"></svg>
        </div>
    </div>

    <form id="svgform" method="post" target="_blank" action="/api/download">
        <input type="hidden" id="format" name="format" value="">
        <input type="hidden" id="data" name="data" value="">
    </form>
</section>
