<section class="row" data-ng-controller="SettingsController">
    <h3 class="col-md-12 ">账号设置</h3>
    <div class="col-md-6">
        <form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="signin form-vertical" autocomplete="off">
            <fieldset>
                <!-- <div class="form&#45;group"> -->
                <!--     <label for="firstName">First Name</label> -->
                <!--     <input type="text" id="firstName" name="firstName" class="form&#45;control" data&#45;ng&#45;model="user.firstName" placeholder="First Name"> -->
                <!-- </div> -->
                <!-- <div class="form&#45;group"> -->
                <!--     <label for="lastName">Last Name</label> -->
                <!--     <input type="text" id="lastName" name="lastName" class="form&#45;control" data&#45;ng&#45;model="user.lastName" placeholder="Last Name"> -->
                <!-- </div> -->
                <div class="form-group">
                    <label for="email">邮箱</label>
                    <input type="email" id="email" name="email" class="form-control" data-ng-model="user.email" placeholder="邮箱">
                </div>
                <div class="form-group">
                    <label for="username">名称</label>
                    <input type="text" id="username" name="username" class="form-control" data-ng-model="user.username" placeholder="名称">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-large btn-primary">保存</button>
                </div>
                <div data-ng-show="success" class="text-success">
                    <strong>保存成功</strong>
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
