<section data-ng-controller="TrainsController" data-ng-init="find()">
    <div class="page-header">
        <a data-ng-href="#!/trains/create" class="pull-right btn btn-primary">添加</a>
        <h1>列车</h1>
    </div>
    <table ng-if="trains.length" class="table table-bordered table-stripped">
        <tr>
            <th>名称</th>
            <th>运行区间</th>
            <th>停留股道</th>
            <th>到达方向</th>
            <th>出发方向</th>
            <th>到达时间</th>
            <th>出发时间</th>
            <th>创建时间</th>
            <th>创建者</th>
            <th>管理</th>
        </tr>
        <tr data-ng-repeat="train in trains">
            <td><a data-ng-href="#!/trains/{{train._id}}/edit">{{ train.name }}</a></td>
            <td>{{ train.section }}</td>
            <td>{{ train.track.name }}</td>
            <td>{{ train.arrival.name }}</td>
            <td>{{ train.departure.name }}</td>
            <td>{{ train.arrivalTime | slicetime }}</td>
            <td>{{ train.departureTime | slicetime }}</td>
            <td>{{ train.created | date:'yyyy-MM-dd HH:mm' }}</td>
            <td>{{ train.user.username }}</td>
            <td>
                <a class="btn btn-xs btn-danger" data-ng-click="remove();">
                    <i class="glyphicon glyphicon-trash"></i> 删除
                </a>
            </td>
        </tr>
    </div>
    <div class="alert alert-warning " data-ng-hide="!trains.$resolved || trains.length">
        没有数据， <a href="/#!/trains/create">创建</a>?
    </div>
</section>
