<section data-ng-controller="TrainsController" data-ng-init="find()">
    <div class="page-header">
        <a data-ng-href="#!/trains/create" class="pull-right btn btn-primary">添加</a>
        <h1>列车</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="train in trains" data-ng-href="#!/trains/{{train._id}}" class="list-group-item">
            <small class="list-group-item-text">
                Posted on
                <span data-ng-bind="train.created | date:'medium'"></span>
                by
                <span data-ng-bind="train.user.displayName"></span>
            </small>
            <h4 class="list-group-item-heading" data-ng-bind="train.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning " data-ng-hide="!trains.$resolved || trains.length">
        没有数据， <a href="/#!/trains/create">创建</a>?
    </div>
</section>
