<section data-ng-controller="ArrivalsController" data-ng-init="find()">
    <div class="page-header">
        <a data-ng-href="#!/arrivals/create" class="pull-right btn btn-primary">添加</a>
        <h1>到达方向</h1>
    </div>
    <table ng-if="arrivals.length" class="table table-bordered table-stripped">
        <tr>
            <th>名称</th>
            <th>创建时间</th>
            <th>创建者</th>
            <th>管理</th>
        </tr>
        <tr data-ng-repeat="arrival in arrivals">
            <td><a data-ng-href="#!/arrivals/{{arrival._id}}/edit">{{ arrival.name }}</a></td>
            <td>{{ arrival.created | date:'yyyy-MM-dd HH:mm' }}</td>
            <td>{{ arrival.user.username }}</td>
            <td>
                <a class="btn btn-xs btn-danger" data-ng-click="remove();">
                    <i class="glyphicon glyphicon-trash"></i> 删除
                </a>
            </td>
        </tr>
    </div>
    <div class="alert alert-warning " data-ng-hide="!arrivals.$resolved || arrivals.length">
        没有数据， <a href="/#!/arrivals/create">创建</a>?
    </div>
</section>
