<section data-ng-controller="TracksController" data-ng-init="find()">
    <div class="page-header">
        <a data-ng-href="#!/tracks/create" class="pull-right btn btn-primary">添加</a>
        <h1>股道</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="track in tracks" data-ng-href="#!/tracks/{{track._id}}" class="list-group-item">
            <small class="list-group-item-text">
                Posted on
                <span data-ng-bind="track.created | date:'medium'"></span>
                by
                <span data-ng-bind="track.user.displayName"></span>
            </small>
            <h4 class="list-group-item-heading" data-ng-bind="track.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning " data-ng-hide="!tracks.$resolved || tracks.length">
        没有数据， <a href="/#!/tracks/create">创建</a>?
    </div>
</section>
