<section data-ng-controller="TracksController" data-ng-init="find()">
    <div class="page-header">
        <a data-ng-href="#!/tracks/create" class="pull-right btn btn-primary">添加</a>
        <h1>股道</h1>
    </div>
    <table ng-if="tracks.length" class="table table-bordered table-stripped">
        <tr>
            <th>名称</th>
            <th>创建时间</th>
            <th>创建者</th>
            <th>管理</th>
        </tr>
        <tr data-ng-repeat="track in tracks">
            <td><a data-ng-href="#!/tracks/{{track._id}}/edit">{{ track.name }}</a></td>
            <td>{{ track.created | date:'yyyy-MM-dd HH:mm' }}</td>
            <td>{{ track.user.username }}</td>
            <td>
                <a class="btn btn-xs btn-danger" data-ng-click="remove();">
                    <i class="glyphicon glyphicon-trash"></i> 删除
                </a>
            </td>
        </tr>
    </div>
    <div class="alert alert-warning " data-ng-hide="!tracks.$resolved || tracks.length">
        没有数据， <a href="/#!/tracks/create">创建</a>?
    </div>
</section>
